.about{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 4rem;
}

.profile {
  width: 100%;
  justify-self: center;
  padding: 2rem 0;
  justify-content: center;
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
}

.grouper {
  height: fit-content;
  display: flex;
  flex-direction: column;
  
}

.grouper-image {
  width: 37.5rem;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.title{
  background-color: #f9f9f9;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.25);
  width: fit-content;
  height: fit-content;
  border-radius: 1.5rem 1rem 1.5rem 0;
  margin-bottom: 0.5rem;
  align-self: flex-start;
  padding: 0.75rem 1.25rem 0.75rem 1.5rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s var(--ease-out);
}


.title::before{
  content: '';
  background-color: #e60000;
  width: 100%;
  height: 200%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0.5rem;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s var(--ease-out);
}

.title::after{
  content: '';
  width: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e60000;
}

.title:hover{
  color: #f9f9f9;
  box-shadow: 0 4px 24px 0 #e6000055, 0 0 1em #fff2;
  background-color: transparent;
}

.title:hover::before{
  transform: scaleX(1);
}


.boxed-left-image {
  background-color: #f9f9f9;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.25);
  width: fit-content;
  height: fit-content;
  border-radius: 1.5rem 1rem 1.5rem 0;
  margin-bottom: 0.5em;
  justify-self: flex-start;
}

.boxed-left-white {
  background-color: #f9f9f9;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.25);
  width: 42.5rem;
  height: fit-content;
  border-radius: 1.5rem 1rem 1.5rem 0;
  margin-bottom: 0.5em;
  align-self: flex-start;
  padding: 1rem 1rem 1rem 1.5rem;
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  transition: all 0.3s var(--ease-out);
}

.boxed-left-white::before{
  content: '';
  width: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #c3c6ce;
}

.boxed-left-white::after{
  content: '';
  width: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e60000;
  transform: scaleY(0);
  transition: transform 0.3s var(--ease-out);
  transform-origin: bottom;
}

.boxed-left-white:hover::after{
  transform: scaleY(1);
}

.boxed-right-white {
  background-color: #f9f9f9;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.25);
  width: 42.5rem;
  height: fit-content;
  border-radius: 1rem 1.5rem 0 1.5rem;
  margin-bottom: 0.5rem;
  justify-self: flex-end;
  padding: 1rem 1.5rem 1rem 1rem;
  position: relative;
  overflow: hidden;
}


.boxed-right-white::before{
  content: '';
  width: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c3c6ce;
}

.boxed-right-white::after{
  content: '';
  width: 0.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e60000;
  transform: scaleY(0);
  transition: transform 0.3s var(--ease-out);
  transform-origin: top;
}

.boxed-right-white:hover::after{
  transform: scaleY(1);
}
/* 
.boxed-center-white {
  background-color: #f9f9f9;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.25);
  width: fit-content;
  height: fit-content;
  border-radius:  1.5rem;
  margin: 0.5em 0;
  justify-self: center;
  padding: 1rem;
}
 */
.vision-mission{
  display: flex;
  padding: 2em 0;
  justify-content: space-between;
  flex-direction: row;
  width: 100vw;
  max-width: 150rem;
}


.boxed-left-red {
  background-color: #e60000;
  color: #f9f9f9;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.25);
  width: 40rem;
  height: fit-content;
  border-radius: 0 1.5rem 1.5rem 0;
  align-self: flex-start;
  padding: 2rem 4rem 2rem 10rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s var(--ease-out);
  margin-bottom: 3rem;
}

.boxed-right-red {
  background-color: #e60000;
  
  color: #f9f9f9;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.25);
  width: 45rem;
  height: fit-content;
  border-radius: 1.5rem 0 0  1.5rem;
  align-self: flex-end;
  padding: 2rem 10rem 2rem 4rem;
  position: relative;
  overflow: hidden;
  transition: all 0.3s var(--ease-out);
  margin-top: 4rem;
  justify-self: flex-end;
}

.misi{
  font-family: var(--font-body);
  list-style-type: square;
}

.misi>li{
  text-align: justify;
}

.values{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  max-width: 160rem;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.values-item{
  width: 20rem;
  aspect-ratio: 1/1;
  background-color: #f9f9f9;
  border-radius: 1.5rem;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.25);
}

@media(max-width: 1150px){
  .profile,.vision-mission{
    flex-direction: column;
    padding-top: 0;
  }
  .grouper{
    width: 100%;
  }
  .boxed-left-white,.boxed-right-white{
    margin:0.5rem 1rem;
    width: fit-content;
  }
  .boxed-left-red,.boxed-right-red{
    margin: 1rem 0;
  }
}


@media(max-width: 768px){
  .boxed-left-white,.boxed-right-white{
    margin:0.5rem 1rem;
  }
  .boxed-left-red,.boxed-right-red{
    padding: 2rem 4rem;
  }
  .values-item{
    width: 18rem;
  }

  
}

@media(max-width: 600px){
  .boxed-left-red,.boxed-right-red{
    width: fit-content;
    border-radius: 1.5rem;
    margin:0.5rem 1rem;
  }
  .values-item{
    width: 15rem;
  }
}