/* src/partials/blog/post.css */

.portable-text-paragraph {
  margin-bottom: 1rem; /* 24px */
  line-height: 1.6;
}

/* You can also add styling for other elements here, like headings or lists */
.post-excerpt {
    margin-bottom: 1.5rem; /* 24px */
    line-height: 1.6;
    font-style: italic;
}