.back-button-container {
  overflow: hidden;
  position: relative;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  display: flex;
  width: fit-content;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 2rem;
  align-items: center;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.back-button-container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--color-red);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s var(--ease-out);
  z-index: 1;
}

.back-button-container:hover::after {
  transform: scaleX(1);
}

.back-button-icon {
  z-index: 2;
  width: 1.5rem;
  height: 1.5rem;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.back-button-container:hover .back-button-icon {
  font-weight: 700;
  color: white;
}

.back-button-text {
  z-index: 2;
  width: 0;
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.back-button-container:hover .back-button-text {
  transform: scaleX(1);
  opacity: 1;
  width: fit-content;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-weight: 700;
  color: white;
}

@media (max-width: 768px) {
  .back-button-text {
    opacity: 1 !important;
    transform: scaleX(1) !important;
    width: fit-content !important;
    margin-left: 0.5em !important;
    color:black;
  }
  .back-button-container {
    transform: none;
    margin-bottom: 2rem;
    transition: none;
  }
}
