/* src/partials/accordion.css */

.AccordionRoot {
  background-color: #f9f9f9;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden ;
}

.AccordionItem {
  border-bottom: 1.5px solid #e5e7eb;
}


.AccordionItem:has(.AccordionContent[data-state='open']) .AccordionTrigger {
  background-color: #e60000;
  color: #fff;
}

.AccordionItem:has(.AccordionContent[data-state='open']) .AccordionChevron {
  color: #fff;
}

.AccordionItem:last-child {
  border-bottom: none;
}

.AccordionHeader {
  display: flex;
}


.AccordionTrigger {
  font-family: inherit;
  background-color: transparent;
  padding: 0 20px;
  height: 45px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 1;
  color: #1f2937;
  cursor: pointer;
  border: none;
  width: 100%;
  transition: background-color 300ms var(--ease-out);
}


.AccordionTrigger:hover {
  background-color: #f0f1f3;
}

.AccordionContent {
  overflow: hidden;
  font-size: 1rem;
  color: #4b5563;
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
}

.AccordionContent[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.AccordionContent[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}



.AccordionChevron {
  color: #6b7280;
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  
}

.AccordionTrigger[data-state='open'] > .AccordionChevron {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
