.main-footer{
    background-color: var(--color-red);
    font-family: var(--font-header);
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: 0 0 4px 0 #000000bb;
    justify-content: space-evenly;
    padding-top: 0.5em;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media(max-width: 900px){
    #logo-footer{
        display: none;
    }
}

@media(max-width: 768px){
    .contact{
        flex-direction: column;
        align-items: flex-start;
        margin: 0 2em;
        gap: 2em;
    }
    footer{
        height: 24em;
    }
}

.list-title{
    margin-bottom: 0.75em;
    font-weight: 600;
    font-family: var(--font-button);
}

li{
    margin-bottom: 0.25em;
}

.copyright{
    justify-self: center;
    align-self: center;
    font-size: 0.75em;
    font-weight: bold;
    font-family: 'Nunito Sans';
}

.shade{
    box-shadow: 0 0 8px 0 #000000bb;
}